{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script>

    document.addEventListener("DOMContentLoaded", function(){
        {%include "subject/subject_home/subject_home.js"%}
    });

</script>

<style>

    .instructions{
        height: 300px;
        overflow-y:scroll;
    }

    .results_card{
        height: 465px;
        overflow-y:scroll;
    }

    .chat{
        height: 250px;
        overflow-y:scroll;
        flex-direction:column-reverse;
        word-breaK:break-word;
        margin: 10px;
        font-size: large;
    }

    .assistant_chat{
        text-align: left;
        font-size: 14pt;
    }

    .user_chat{
        text-align: right;
        font-size: 14pt;
        font-style: italic;
        
    }
       
</style>

{%endblock head%}

{% block content %}
<div v-if="session">
    <!-- modals -->
    {%include "subject/subject_home/summary/end_game_modal.html"%}
    {%include "help_modal.html"%}
    {%include "subject/subject_home/chat_gpt/clear_chat_gpt_history_modal.html"%}

    <div class="row justify-content-lg-center mt-4 mb-4" v-cloak v-show="!session.started">
        <div class="col-md text-center fs-2 fw-bold">
            The session has not started.
        </div>
    </div>
   
    <!-- instructions -->
    <div class="row justify-content-lg-center mt-4" v-cloak v-show="session.world_state.current_experiment_phase == 'Instructions'">
        <div class="col-md">
            {%include "subject/subject_home/instructions_card.html"%}
        </div>
    </div>

    <!-- the stage -->
    <div class="row justify-content-lg-center mt-4" v-cloak v-if="session.started && session.world_state.current_experiment_phase != 'Done'">
        <div class="col-md-4">
            {%include "subject/subject_home/choices/choices_card.html"%}
        </div>
        <div class="col-md-6">
            {%include "subject/subject_home/results/results_card.html"%}
        </div>
    </div>

    <!-- chat gpt card -->
    <div class="row justify-content-lg-center mt-4" v-cloak 
         v-if="session.started && 
               session.world_state.current_experiment_phase != 'Done' && 
               session.parameter_set.chat_gpt_mode != 'Off'">
        <div class="col-md-10">
            {%include "subject/subject_home/chat_gpt/chat_gpt_card.html"%}
        </div>
    </div>

    <div class="row justify-content-lg-center mt-4" v-cloak v-show="session.world_state.current_experiment_phase == 'Done'">
        <div class="col-12 fs-4 fw-bold text-center">
            <br>
            <br>
            <br>
            <br>
            The session is complete, thank you for your participation!              
        </div>    
    </div>

    <div class="row justify-content-lg-center mt-4" v-cloak>
        <div class="col-12 text-end text-muted">
            <span class="align-middle">Client [[session_player.player_number]]</span>
        </div>  
    </div>    
</div>
<div v-else>
    <div class="col text-end">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>



{% endblock %}